* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


.side-bar {
    background: rgb(212, 184, 166);
    /* background-color: transparent; */
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -100%; */
    display: none;
    overflow-y: auto;
    transition: 0.6 ease;
    z-index: 999;
}

.side-bar .active {
    /* left: 0; */
    /* display: none; */
}

.side-bar .menu {
    width: 100%;
    margin-top: 80px;
}


.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #2B1B12;
    font-size: 20px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover {
    background: rgba(105, 83, 70, 1);
    transition: 0.3s ease;
}



.side-bar .menu .item i {
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    /* background:  rgba(42, 27, 18, 1); */
    display: none;
}

.side-bar .menu .item .sub-menu a {
    padding-left: 80px;
}

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FEF7F2;
}


.nav_logo {
    height: 80%;
    width: 10%;
    /* border: 1px solid black; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgba(42, 27, 18, 1);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.nav_catagories {
    height: 80%;
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_icons {
    height: 80%;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_catagory {
    height: 70%;
    width: 20%;
    /* border: 1px solid black; */
    color: rgba(42, 27, 18, 1);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 10px;
    transition: all 0.6s ease;
    cursor: pointer;
}

.nav_catagory:hover {
    background-color: rgb(42, 27, 18);
    color: #FEF7F2;
}

.nav_catagory:hover a {
    /* background-color: rgb(42, 27, 18); */
    color: #fdfdfd;
}

.search {
    height: 60%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    height: 60%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_up {
    height: 80%;
    width: 40%;
    /* border: 1px solid black; */
}

button {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(42, 27, 18, 1);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


.side-bar {
    background: rgb(153, 112, 86);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -100%; */
    display: none;
    overflow-y: auto;
    transition: 0.6 ease;
}

.side-bar .active {
    /* left: 0; */
    /* display: none; */
}

.side-bar .menu {
    width: 100%;
    margin-top: 80px;
}


.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #fff;

    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover {
    background: #8621f8;
    transition: 0.3s ease;
}



.side-bar .menu .item i {
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    /* background:  rgba(42, 27, 18, 1); */
    display: none;
}

.side-bar .menu .item .sub-menu a {
    padding-left: 80px;
}

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}


.menu-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
    display: none;

}

a {
    color: #2B1B12;
    text-decoration: none;
}


.first_section {
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

.first_left {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.mobile {
    height: 80%;
    width: 80%;
    /* border: 1px solid black; */
}

.first_right {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.first_text {
    height: 40%;
    width: 60%;
    /* border: 1px solid black; */
}

.first_heading {
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.first_heading h1 {
    font-family: "Roboto", sans-serif;
    color: rgb(66, 63, 63);
    font-size: 3rem;
}

.first_paragraph {
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.first_paragraph p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

.second_section {
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

.second_left {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.second_text {
    height: 50%;
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.second_heading {
    height: 40%;
    width: 100%;
    /* border: 1px solid black; */
}

.second_heading h1 {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: rgb(66, 63, 63);
}

.second_paragraph {
    height: 40%;
    width: 100%;
    /* border: 1px solid black; */
}

.second_paragraph p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

.learn_more {
    height: 20%;
    width: 50%;
    /* border: 1px solid black; */
}




.second_right {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.second_image {
    height: 70%;
    width: 80%;
    /* border: 1px solid black; */
}

.third_section {
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

.third_left {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.third_image {
    height: 70%;
    width: 75%;
    /* border: 1px solid black; */
}

.third_right {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.third_text {
    width: 70%;
    height: 50%;
    /* border: 1px solid black; */
}

.third_heading {
    height: 30%;
    width: 100%;
    /* border: 1px solid black; */
}

.third_heading h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    color: rgb(66, 63, 63);
}

.third_paragraph {
    height: 50%;
    width: 100%;
    /* border: 1px solid black; */
}

.third_paragraph p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

.third_adress {
    height: 20%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.third_adress input {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 30px;
    outline: none;
    border: none;
    background-color: #f5ddcc;
}



.third_adress button {
    width: 19%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f5ddcc;
    color: rgba(42, 27, 18, 1);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: grid;
    place-items: center;
}

.third_adress:hover button {
    background-color: #665d57;
    color: #fff;
}

.fourth {
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

.fourth_left {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.fourth_text {
    height: 45%;
    width: 70%;
    /* border: 1px solid black; */
}

.fourth_heading {
    height: 40%;
    width: 100%;
    /* border: 1px solid black; */
}

.fourth_heading h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    color: rgb(66, 63, 63);
}

.fourth_paragraph {
    height: 40%;
    width: 100%;
    /* border: 1px solid black; */
}

.fourth_paragraph p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

.fourth_address {
    height: 20%;
    width: 100%;
    /* border: 1px solid black; */
    padding: 0;
}


.fourth_address input {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #f7dac6;
    padding-left: 20px;
    margin: 0;
}

.fourth_address button {
    height: 100%;
    width: 19%;
    border: none;
    font-size: 1.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f7dac6;
    color: rgb(53, 43, 43);
}

.fourth_address:hover button {
    background-color: #665d57;
    color: #fff;
}


.fourth_right {
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}

.fourth_image {
    height: 70%;
    width: 70%;
    /* border: 1px solid black; */
}


footer {
    height: 539px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 7%;
    background: #DDC7BB;


}

.footer1 {
    width: 18%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
}


.footer1_logo {
    width: 93px;
    height: 29px;
    /* border: 1px solid black; */
}


.footer1 p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

.footer1_text {
    width: 219px;
    height: 69px;
    /* border: 1px solid black; */
}

.footer1_text span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:
        #4F3527;
}



.footer2 {

    /* border: 1px solid black; */
    width: 98px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-content: space-between;


}



.footer2 li {
    list-style: none;
    margin-top: 35%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #4F3527;
}

.footer3 {
    width: 156px;
    height: 245px;
    /* border: 1px solid black; */
}


.footer3 li {
    list-style: none;
    margin-top: 20%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #4F3527;
}



.footer4 {
    width: 104px;
    height: 191px;
    /* border: 1px solid black; */

}

.footer4 li {
    list-style: none;
    margin-top: 25%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #4F3527;

}

.footer5 {
    width: 147px;
    height: 196px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
}

.footer5_heading {
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #2B1B12;

}

.social_media {
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
}

.social_icon {
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
}

.social_text {
    width: 75%;
    height: 100%;
    /* border: 1px solid black; */
    padding-top: 4%;
}

.social_text p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}


@media screen and (max-width:1300px) {

    .first_text{
        height: 80%;
        width: 80%;
    }

    .second_text{
        height: 80%;
        width: 80%;
    }

    .third_text{
        height: 80%;
        width: 80%;
    }

    .fourth_text{
        height: 80%;
        width: 80%;
    }


    .footer1 {
        height: 52%;
        width: 20%;
    }

    .footer1_text {
        width: 100%;
        height: 190px;
        margin-top: 10px;

    }

    .footer1_text span {
        font-size: 13px;
    }
}




@media screen and (max-width:500px) {

    .first_text h1{
        font-size: 2rem;
    }
    .second_text h1{
        font-size: 2rem;
    }
    .third_text h1{
        font-size: 2rem;
    }
    .fourth_text h1{
        font-size: 2rem;
    }

    .first_text p{
        font-size: 1rem;
    }
    .second_text p{
        font-size: 1em;
    }
    .third_text p{
        font-size: 1rem;
    }
    .fourth_text p{
        font-size: 1em;
    }

    .fourth_address input {  
        width: 79%;     
        font-size: 1rem;       
    }

    footer{
        flex-direction: column;
        height: auto;
        width: 100%;
        aspect-ratio: 10/1;
    }


    /* .footer1 p {
        font-size: 13px;
    } */
    .footer2 ul li {
        font-size: 13px;
    }

    .footer1_text {
        width: 100%;
        height: 150px;
        margin-top: 10px;
        /* border: 1px solid black; */
        margin-bottom: 100px;

    }

    .footer1_text span {
        font-size: 8px;
    }

    .footer1{
        display: flex;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
        background-color: #8621f8;
       
    }
    .footer2{
        display: flex;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
    }

    .footer3{
        display: flex;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
    }

    .footer4{
        display: flex;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
    }
    .footer5{
        display: flex;
        width: 100%;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .social_icon{
        width: 13%;
    }

    .social_media {
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }
    




    #cart2 {
        display: none;
    }







    .first_section {
        flex-direction: column;
        /* border: 1px solid black; */
        height: 800px;
    }

    .first_left {
        width: 100%;
        height: 50%;
    }

    .first_right {
        width: 100%;
        height: 50%;
    }

    .second_section {
        flex-direction: column-reverse;
        /* border: 1px solid black; */
        height: 1000px;
    }

    .second_left {
        width: 100%;
        height: 50%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .second_text {
        height: 100%;
        width: 85%;
        /* border: 1px solid black; */
    }

    .learn_more {
        height: 10%;
        width: 30%;
        /* border: 1px solid black; */
    }

    .second_right {
        width: 100%;
        height: 50%;
    }


    .third_section {
        flex-direction: column;
        /* border: 1px solid black; */
        height: 800px;
    }

    .third_left {
        width: 100%;
        height: 50%;
    }

    .third_text {
        width: 85%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .third_adress {
        height: 12%;
        width: 100%;
        /* border: 1px solid black; */
    }

    .third_right {
        width: 100%;
        height: 50%;
    }



    .fourth {
        flex-direction: column-reverse;
        /* border: 1px solid black; */
        height: 800px;
    }

    .fourth_left {
        width: 100%;
        height: 50%;
    }

    .fourth_text {
        height: 100%;
        width: 85%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .fourth_address {
        height: 12%;
        width: 100%;
        /* border: 1px solid black; */
        padding: 0;
    }

    .fourth_right {
        width: 100%;
        height: 50%;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 1200px;
        /* border: 1px solid black; */
        margin-top: 70px;
    }

    .form_left {
        width: 100%;
        height: 20%;
        /* border: 1px solid black; */
    }

    .form_text {
        height: 100%;
    }

    .form_right {
        width: 100%;
        height: 80%;
        /* border: 1px solid black; */
    }

    .inner_form {
        width: 90%;
    }

    .swiper_heading {
        margin-top: 70px;
    }


}


@media (width <=500px) {
    .menu-btn {
        display: block;
    }

    .nav_catagories {
        display: none;
    }

    .nav_icons {
        display: none;
    }
}