body{
    margin-top: 20px;
    background-color: rgb(87, 82, 80);;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: #2B1B12;
    overflow: hidden;
}
.img{
    background-image: url('./portrait-hapy-young-smart-man-glasses-white-wall_231208-12206.avif');
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
.topbar a{
    float: right;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}

.sidebar{
    background-color: #DDC7BB;
    color: white;
    height: 100%;
    color: #2B1B12;
}

.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #2B1B12
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: whitesmoke;
}